if ARCH_TM4C

choice
	prompt "Texas Instruments TM4CXXXX Processor"

config ARCH_TM4C12
	bool "TM4C12"
	select PLAT_STELLARIS
	select ARCH_HAS_CPUFREQ
	help
	  Include support for the Texas Instruments ARCH_TM4C12 MCU.

endchoice

menu "TM4CXXXX Processor Features"

config CPU_FREQ_TM4C
	bool "CPUfreq support for TI TM4CXXXX MCUs"
	depends on CPU_FREQ

endmenu

endif
